.subpage_list {
  list-style-type: none;
  margin-left: 0;
  padding-top: 1em;

  li {
    border-bottom: 1px solid $tan-border;

    &:last-of-type {
      border-bottom: none;
    }
  }

  a {
    display: block;
    padding: .5em 0;
    

    .subpage_title {
      font-size: 1em;
      font-weight: 600;
      color: $celt-red;
    }

    .subpage_excerpt {
      font-size: 1em;
      color: #464646;
    }

    &:hover {
      .subpage_title {
        color: scale-color($celt-red, $lightness: -24%);
      }
    }
    
    &:after {
      content: "";
      display: table;
      clear: both;
    }

  }

}

