.celt_archive-list {
  list-style-type: none;
  margin-left: 0;

  li {
    border-bottom: 1px solid $tan-border;
    margin-bottom: 1.5em;
    padding-bottom: 1em;

    h2 {
      font-size: 1.5em;
      font-weight: $bold;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.celt_post-date {
  font-weight: 600;
  color: $black-light;
}
