// Colors

$black: #363636;
$black-light: #797979;
$celt-yellow: #f4cf00;
$black-footer: #444444;
$tan-border: #eeeee8;
$tan-border-dark: #deddd2;
$tan-dark: #f4f3e8;
$celt-red: #cd0c2a;

// Weight

$bold: 600;
$regular: 400;


// Clearfix
.group:after {
  content: "";
  display: table;
  clear: both;
}